@import url('https://fonts.cdnfonts.com/css/harry-potter');

* { margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#resultado {
  background-color: #cccccc7c;
  font-size: larger;
  color:white;
  
}

#characters-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: static;
  flex-wrap: wrap; 
  /* justify-items: flex-start;  */
  padding: 33px;
  gap: 20px;
}
  .card {
   background-image: url(img/harry.jpg);
   background-size: 300px 300px;
   background-repeat: no-repeat;
   height: 300px;
   width: 300px;
   border: 1px solid #ccc;
   border-radius: 4px;
   flex-basis: 300px;
   text-align: center;
   display: flex;
   align-items: center;
   justify-content: center;
  }

  
  .info {
    display: flex;
    flex-direction: column;
    }
   
  .name {
    font-size: 20px;
    font-weight: bold;
  }
  
  .status {
    font-size: 16px;
    margin-top: 5px;
  }
  
  .birthdate {
    font-size: 16px;
    margin-top: 5px;
  }
  
  .gender {
    font-size: 16px;
    margin-top: 5px;
  }

  header {
  background-color:#817b2993;
  width: 100%;

  }

  .navBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  }

  .menu-items {
  width: 10rem;
  height: 2.1rem;
  }

 li {
  list-style-type:none;

}
.title {
  color: white;
  font-size: 58px;
  font-family: 'Harry Potter', sans-serif;
  
}

body {
  background-image: url(https://images7.alphacoders.com/119/1192080.jpg);
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100vh;
}

h2 {
  text-align:center;
  color: white;
  font-family:'Harry Potter';
  
}

.btn {
  width: 200px;
  padding: 15px 0;
  text-align: center;
  border-radius: 25px;
  font-weight: bold;
  border: 2px solid #817b298e;
  background: transparent;
  color: white;
  cursor: pointer;
  left: 550px;
  top: 300px;
  margin: 10px;
  overflow: hidden;
  position: relative;
}

.btn:hover {
  transition: .2s linear;
  background-color: #817b2977;
  font-size: 15px;
}

footer {
  font-size: 14px;
  width: 100%;
  bottom: 0;
  height: 23px;
  text-align: center;
  background-color: rgb(11, 58, 68);
  color: #fff;
  border-top: 4px solid #817b29;
  box-shadow: 0.2em 0.2em 0.2em 0.2em #817b29;
  position: fixed; 
}

footer a {
  color: rgb(255, 255, 255);
  text-decoration: underline;
  
}

  @media(max-width: 740px) and (min-width: 300px) {
  
  .navBar {
    font-size: 20px;  
  }
  .title {
    font-size: 20px;
  } 
  .btn {
    width: 100px;
    right: auto;
    position: relative;
  }
 .menu-items {
      height: 20px;
      width: 70%;
      margin: 6px auto;      
} 

#resultado {
  font-size: auto;
} }
